.mainheading {
    text-align: center;
    background-color: forestgreen;
    border: 1px solid black;
    border-radius: 0px 70px 70px 0px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 3px;
}

.secondheading {
    margin: 0 auto;
    margin-bottom: 10px;
    padding: 10px;
    animation: headertyping 1s steps(70) forwards;
    white-space: nowrap; /*steps to split into how much interval, smoothness, overflow to hide text not 'typed out' yet,*/
    overflow: hidden;
}

.formbox {
    box-shadow: 2px 5px 7px darkgray;
    color: blue;
    background-color: darkgray;
    padding: 10px;
    border: 5px solid violet;
    border-radius: 20px;
    width: 50%;
    margin: 0 auto;
    animation: fadein 1s forwards;
}

.formbox input,textarea {
    padding: 5px;
    margin: 10px;
    width: 90%;
}

.formbox input[type="checkbox"] {
    margin: auto;
    margin-left: 50px;
 }

.buttons {
    font-family: Victor Mono;
    background-color: blueviolet;
    padding: 5px;
    color: violet;
    font-size: 20px;
}

.buttons:hover {
    color:blueviolet;
    background-color:cadetblue;   
}

.faqlink {
    color: darkblue;
    font-style: italic;
    font-family:'Courier New', Courier, monospace;
}

.faqlink:hover {
    color: azure;
}

.faqlink:active {
    color:aquamarine;
}

body {
    background-image: url(photos/snooker.webp);
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: steelblue;
}

@keyframes fadein { /*keyframes are to define animations*/
    0% {
        opacity: 0%;
        transform: translateY(20px);
    }
    100% {
        opacity: 100%;
        transform: translateY(0);
    }
}

@keyframes headertyping {
    0% {
        width: 0;
    }

    100% {
        width: 53ch;
    }
}