.heading {
        background-color: skyblue;
        border: 2px solid black;
        color: black;
        margin: auto;
        padding: 70px;
        text-align: center;
        font-family: 'Times New Roman', Times, serif;
        animation: heading .7s forwards;
}

.sections {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    padding: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.sections table {
    background-color: aliceblue;
    margin: auto;
    width: 33.33%;
    border: 2px solid forestgreen;
    border-radius: 10px;
}

.sections td {
    text-align: center;
    font-family: systemspace;
}

.sections table:nth-child(2) {
    margin-left: 50px;
}

.sections table:nth-child(3) {
    width: 50;
    margin: 0 auto;
    margin-top: 10px;
}

body {
    margin: 0;
    background-color: darkgray;
}

@keyframes heading {
    0% {
        opacity: 0;
        transform: translateX(30px); 
    }

    100% {
        opacity: 1;
    }
}

@font-face {
    font-family: systemspace;
    src: url(font/04B_03__.TTF);
}