.mainheading {
    background-color: rgb(201, 46, 18);
    width: 100%;
    color: white;
    margin: auto;
    padding: 30px;
    text-align: center;
    font-family: systemspace;
    font-size: 36pt;
}

body {
    background-color: rgb(167, 166, 141);
    margin: 0;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.container > div { /* > means to select a child element within*/
    flex: 1; /*flex is shortform for grow shrink and basis -> to scale with each other*/
    margin: 10px;
}

.box {
    width: 80%;
    margin: 30px auto;
    padding: 30px;
    background-color: rgb(177, 205, 212);
    border: 2px solid rgb(9, 138, 224);
    border-radius: 50px;
    text-align: center;
    font-size: 15pt;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

@font-face {
    font-family: systemspace;
    src: url(font/04B_03__.TTF)
}