
@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&display=swap');


.title{
    font-family: "Instrument Serif";
    font-weight: bold;
    color: #feffd0;
    font-size: 12vh;
    text-align: center;
    background-color: #572f17;
}

.nav{
    display: flex;
    background-color: #241309;
    color: #feffd0;
    height: 8vh;
    width: 100%;
}

.nav div{
    cursor: pointer;
    margin: auto;
    width: auto;
    height: 6vh;
}

.nav div a{
  color: #feffd0 ;
}

.nav div a:hover{
  color: #b0b190 ;
}

.content{
    display: flex;
    width: auto;
    height: 65vh;
}

.billiards{
    height: auto;
    width: 30vw;
}

.information{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 0px;
    height:70vh;
    width: 70vw;
}

.information div{
    flex: 1;
    margin: 0px;
    margin: 1vw;
}

.information div p{
  font-size: 3.2vh;
  margin: 0;
  color: #feffd0;
}

.information div h1{
    font-size: 7vh;
    margin: 0 0 1vh 0;
    color: #feffd0;
    font-family: "Instrument Serif";
}

.start{
    text-align: right;
}

.footer{
  display: flex;
  flex-direction: row;
}

/* scrolling thing  */
.scrolling-div {
  width: 45%;
  height: 11.5vh;
  overflow: hidden;
  white-space: nowrap;
  background-color: #324736;
}

.scrolling-content {
  display: inline-block;
  animation: scroll 8s linear infinite;
  will-change: transform;
  
}

.scrolling-content span {
  display: inline-block;
  padding: 0 .1vw; /* spacing between items */
  font-size: 10vh;
  color: #feffd0;
}

@keyframes scroll {
  0%   { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

.contact{
  height: 11.5vh;
  width: 55%;
  background-color: #324736;
  font-size: 2.6vh;
}

.contact p {
  margin: 2vh;
  color: #feffd0;
}

/* animations wowzers */
.intro {
  opacity: 0;
  animation: fadeInRight 1.2s ease-in-out forwards 0.2s;
}

.start {
  opacity: 0;
  animation: fadeInLeft 1.2s ease-in-out forwards 0.4s;
}

.req {
  opacity: 0;
  animation: fadeInRight 1.2s ease-in-out forwards 0.6s;
}

.billiards {
  opacity: 0;
  animation: fadeInLeft 1.5s ease-in-out forwards 0.1s;
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(600px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-600px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


body{
    background-color:#3a5c41;
    font-size: 5vh;
    margin: 0px;
}

a{
  color: #deb13f;
  text-decoration: none;
}

a:hover{
  color: #aa882f;
}

