.header {
    background-color: black;
    color: white;
    padding: 70px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    background-image: url(photos/snookerheader.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.parentintro {
    display: flex;
    flex-direction: row; /*parent and children class, use divs*/
    gap: 50px;
}

.intro {
    flex: 1; /*grow and shrink by taking all available space equally other flex:1 items*/
    flex-wrap: wrap;
    background-color: lightgray;
    border-radius: 20px;
    border: 7px solid black;
    color: black;
    padding: 10px;
}

.navigation {
    display: flex;
    padding: 15px;
}

.navigation a {
    position: sticky;
    text-align: center;
    width: 100%;
    background-color:darksalmon;
    color: darkslategray;
    text-decoration: none;
    margin-left: 10px;
    border: 2px solid violet;
    border-radius: 20px;
    padding: 15px;
}

.navigation a:nth-child(4) {
    margin-left: 20%;
}

td {
    font-size: 16px;
    line-height: 1.5;
    font-family: systemspace;
    
}

body {
    background-color: forestgreen;
}

/*position sticky should let the table headings stay on top no matter how far scrolled down*/
/*Since css places elemwnts vertically, need to use flexbox to place side by side, then specify which th via nth child to create space on the left via margin-left */

h2{
    background-color: darkgreen;
    color: whitesmoke;
    padding: 20px;
    margin: 20px;
    font-size: 30px;
 }
 
 @font-face {
    font-family: systemspace;
    src: url(font/04B_03__.TTF);
}