#paragraph2 {
    width: 50%;
    text-align: center;
    margin: 0 auto;
    margin-top: 30px;
    background-color: darkgreen;
    border: 5px solid darkgreen;
    border-radius: 10px;
    color: white;
    font-size: 24pt;
    line-height: 1.8;
    padding: 10px;
}

body {
    margin: 0;
    background-color: darkkhaki;
}

.objheading {
    background-color: darkcyan;
    margin: 0;    
    text-align: center;
    width: 100%;
    padding: 10px;
    font-family: systemspace;
    font-size: 36pt;
}


@font-face {
    font-family: systemspace;
    src: url(font/04B_03__.TTF);
}