body{
    background-image: url(photos/snooker.webp);
    background-size: cover;
    background-position: center;
    font-family: 'Arial', sans-serif;
    background-repeat: no-repeat;
}
.main-container {
    
    width: 500px;
    border: 10px dashed #724d1b;
    background-color:gray;
    padding: auto;
    padding-top: 20px;
    color: yellow;

}

.nav-like {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.title {
    padding: auto;
    padding-top: 20px;
}

.image-container {
    width: 100%;
    display: flex;
    justify-content: center;
    /*水平置中 */
}

.image-container img {
    max-width: 50%;
    /* 圖片最大寬度 */
    height: auto;
    display: block;
    /* 讓圖片成為區塊元素 */
    margin: auto;
}

input {
    margin: auto;
    margin-top: 20px;
}
button{
    background-color: black;
    color: yellow;
    border: orange solid 5px;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}